@font-face {
		font-family: "PTSansRegular";
		src: url("../fonts/PTSansRegular/PTSansRegular.eot");
		src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
		url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
@font-face {
		font-family: "PTSansItalic";
		src: url("../fonts/PTSansItalic/PTSansItalic.eot");
		src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
		url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
@font-face {
		font-family: "PTSansBold";
		src: url("../fonts/PTSansBold/PTSansBold.eot");
		src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
		url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
video{
	display:block;
}
p {
	font-size:14px;
	line-height:1.714em;
	width:298px;
}
b{
	line-height:1.714em;
}
body{
	background-image:url("./Img/background-main.jpg");
	background-attachment:fixed;
	margin:0px;
	max-width:2560px;
	max-height:1756px;
	background-size:cover;
	font-style:normal;
	font-family: PT Sans Narrow, sans-serif;
	font-weight:bold;
	line-height: 1.714em;
}
/* Header */
h2{
	font-size:1.875em;
	margin-top:0;
}
div.wraper{
	width: 940px;
    display: flex;
	margin:0 auto;
}
.logo{
	text-align: center;
}
.main-header{
	display:grid;
	grid-gap:10px;
	grid-auto-rows:minmax(100px, auto);
}
nav.Header{
	text-transform:uppercase;
	font-size:16px;
	color:#ffffff;
	line-height:1.25em;
	background-color:black;
	height:72px;
	display:flex;
	justify-content: center;
	flex-flow:row wrap;
}
.v-hiden{
	display:none;

}
.site-nav{
	margin:0px;
	display:flex;
	list-style-type:none;
	flex-direction: row;
	padding:0;
	margin-right:auto;
}
nav ul li > a{
	text-decoration:none;
	color:white;
	padding: 22px;
    padding-bottom: 29.5px
}
ul.site-nav li>a:hover{
	background-color: #242424;
}
.log:not{
	opacity:0.5;
}
ul.login-form a:hover img, .login-form a:hover{
	opacity:1;
	background-color: #242424;
}
nav ul:nth-child(n) >li{
	padding:22px 0;
}
ul.site-nav li >a:active span{
	padding:0px;
	padding-bottom:25.7px;
	border-bottom:4px solid white;
}
.about{
	order:1;
	padding-right:40px;
	padding: 22px;
	
}
.nav-news{
	order:2;
	padding-right:40px;
	padding: 22px;
}
.pricelist{
	order:3;
	padding-right:40px;
	padding: 22px;
}
.shop{
	padding-right:40px;
	order:4;
	padding: 22px;
}
.contact{
	padding-right:40px;
	order:5;
	padding: 22px;
}
.login{
	opacity:0.5;
	vertical-align:middle;
	padding-right:13px;
	width:15px;
}
.login-form{
	margin:0;
	order:6;
    list-style-type: none;
}
/* Header end */

/* Main */
main{
	font-size:0.875em;
	display:grid;
	grid-gap:10px;
	grid-auto-rows:minmax(100px, auto);
	justify-content:center;
	row-gap:36px;
	text-transform:uppercase;
}
.Benefits{
	color:#f7f4f1;
	display:flex;
	margin-top:68px;
	width:940px;
	flex-grow:1;
	justify-content:center;
	justify-self: center;
	grid-column: 1/3;
    grid-row: 1;
}
/*.Benefits*/ h3{
	font-size:30px;
	line-height:1.4em;
	margin:auto;
}
.Benefits-nav{
	display:flex;
	list-style-type:none;
	text-transform:uppercase;
	text-align:center;
	width:940px;
	justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
	padding:0;
	margin:0;
}
.Benefits-nav p{
	width:280px;
}
.Benefits-nav li{
	width:250px;
	margin:0;
	padding:10px;
	flex:auto;
}
.Benefits-nav svg{
	margin-top:10px;
}
.news{
	background-image: url(./Img/background.jpg);
    background-repeat: repeat;
    width: 391px;
    height: 366px;
    padding-left: 80px;
    padding-top: 53px;
    grid-column: 1/3;
    grid-row: 2/3;
}
.news li{
	margin:0 0 20px 0;
}
.news ul,
.news p
{
	list-style-type: none;
    width: 342px;
	padding:0;
	margin:24px 0 35px 0;
}
.news p,
.contacts-info p,
.news time,
.contacts-info time,
p.heading
{
	margin:0;
}
.news .button{
	padding: 12.8px 33.73px;
}
.galery {
	background-image: url(./Img/background.jpg);
    background-repeat: repeat;
    width: 381px;
    height: 366px;
	padding-left: 90px;
    padding-top: 53px;
	grid-column:2/3;
	grid-row:2/3;
	
}
.galery-content{
	margin:22px auto 41.6px 0;
}
.galery-content img{ 
	border:7px solid white
}
.galery .button-back{
	margin-right:17px;
}
.space{	
	width:10px;
	grid-row:2/3;
	grid-column:2/3;
	align-self: center;
	z-index:1500;
}
.space2{ 
	grid-row:3/3;
	grid-column:2/3;
	align-self: center;
	z-index:1500;
	width:10px;
} 
.contacts-info{
	background-image: url(./Img/background.jpg);
    background-repeat: repeat;
    width: 391px;
    height: 366px;
    padding-left: 80px;
    padding-top: 53px;
	grid-column:1/3;
	grid-row:3/3;
}
.contacts-info > p:last-of-type{
	margin:14px 0 36px 0;
}
.contacts-info .button{
	padding: 12.8px 30.75px;
}
.contacts-info .button:last-child{
	padding:12.8px 25.08px;
	margin-left:17px;
}
.location{
	position:fixed;
	left:28.5%;
	top:20%;
	width:766px;
	height:560.3px;
	border:7px solid white;
	opacity:1;
	z-index:1600;
	background-image:url(./Img/map.jpg);
	box-shadow: 0px 30px 50px 5px rgb(0 0 0 / 75%);	
}
.location button.modal-close,
.location img.modal-close
{
	margin:0 0 0 390px;
	position:absolute;
}
.sign{
	background-color:#f9f6f3;
	background-image: url(./Img/background.jpg);
    background-repeat: repeat;
    width: 381px;
    height: 366px;
	padding-left: 90px;
    padding-top: 53px;
	grid-column:2/3;
	grid-row:3/3;
}
.apointment{
	font: inherit;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 300px;
    margin: 0;
    justify-content: space-between;
}
.apointment p
	 {
	width:140px;
	align-items: flex-start;
}
.apointment input[type="text"]{
	border: 2px solid black;
    width: 116px;
    padding: 10px;
	background-color: #f8f3f0;
    background-image: url(./Img/background.jpg);
}
.apointment .button{
	padding:8.4px 52.35px;
}

.button,
.button-back,
.button-next
 {
	font: inherit;
	padding:12.8px 51px;
	border-radius:5px;
	background: black;
    color: white;
    text-decoration: none;
	border-style: none;
	cursor: pointer;
	width:inherit;
}
.button:hover,
.button-back:hover,
.button-next:hover 
{ 
	background: linear-gradient(#663d15, #663d15 ) #663d15; 
}
.button:active,
.button-back:active,
.button-next:active 
{ 
	background: linear-gradient(#4a2501, #73583e7a) #663d15;
}
/* Main end */

/* Footer */
footer{
	background-image:url(./Img/footer.jpg);
	width:auto;
	display:flex;
    justify-content: center;
	color:#ffffff;
	font-size: 0.8750em;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	margin: 65px 0 0 0;
}
div.container {
	width:940px;
	display:flex;
    margin: 62px auto 43px;
	justify-content:space-between;
}
footer a{
	color:#ffffff;
}
footer p {
	width:310px;
	margin:0;
}
p.about-us a{
	text-decoration:none;
}
p.about-us a:hover{
	text-decoration:underline;
}
footer ul{
	list-style-type: none;
    padding: 0px;
    display: flex;
    margin: 0px;
	width:141px;
	margin-top:17px;
}
footer li{
    background: black;
    margin-right: 6px;
    width: 43px;
    height: 43px;
    text-align: center;
}
footer li:nth-of-type(1) > a {
    display: block;
    text-decoration: none;
    width: 43px;
	padding-bottom:14.5px;
}
footer li:nth-of-type(2) > a {
    display: block;
    text-decoration: none;
    width: 43px;
	padding-bottom:11px;
}
footer li:nth-of-type(3) > a {
    display: block;
    text-decoration: none;
    width: 43px;
	padding-bottom:12px;
}
footer li > a:hover{
	color:#66c0f4;
}
.social{
    width: 141px;
	text-align:center;
	margin: 0 80px 0 0;
}
.social li:hover, .social a:hover {
    background-color: white;
    color: black;
    border-color: white;
}
.button-soc svg{
	padding-top:6px;
	vertical-align: -webkit-baseline-middle;
}
p.copyright{
	width: 97.3px;
	text-align:center;
}
.copyright > a {
    text-decoration: none;
    background-color: black;
    border: 0px solid;
    padding: 12.5px 21px;
    line-height: 6em;
}
.copyright > a:hover{
	background:white;
	color:black;
}
/* Footer end */

/* Login modal */
.wrap{
	display: none;
    position: fixed;
    left: 40%;
    top: 10%;
    min-width: 400px;
	z-index:1500;
}
input[type="checkbox"]{
	visibility:hidden;
}
.modal-login svg{
	border: 2px solid;
    position: absolute;
	top:0.1px;
}
.modal-close img:hover {
opacity: 0.5;
}
.modal-close img,
.modal-close,
.modal-close:focus{
	background:none;
	border:0;
	color:#d0d0d0;
	float: right;
    margin: 0px 0 0 475px;
    padding: 0;
    width: 19px;
	cursor:pointer;
	outline:none;
	opacity:1;
}
.modal-login {
	text-transform: uppercase;
    color: #000;
    background-color: #f8f3f0;
    background-image: url(./Img/background.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    width: 300px;
    padding: 45.27px 80px;
	box-shadow: 0px 30px 50px 5px rgb(0 0 0 / 75%);
}
.modal-login form p > a{
	color:black;
}
::placeholder{
	color:black;
}
.modal-login input{
	border:0;
	color:black;
}
.modal-login p:nth-child(-n+2){
	margin: 16px 0 0 0;
	height:30px;
}
.modal-login p:first-of-type{
	margin: 9.3px auto;
}
.modal-login p:nth-child(-n+2) label{
	background-color: #f9f6f3;
	background:url(./Img/background.jpg);
	border:2px solid black;
	padding:7px;
	color:black;
}
.modal-login input[type="text"],
.modal-login input[type="password"] {
	color:#000;
	background-color:#f9f6f3;
	background:url(./Img/background.jpg);
	outline-style:none;
	width:262px;
}
.modal-login img{
	vertical-align:sub;
	width:13px;
}

.login-info input{
	margin:0 12px 0 auto;
}
span.checkbox, 
.modal-login span{
	position:relative;
	user-select:none;
}
a.restore:hover{
	color: purple;
}
.restore{
	float:right;
}
.modal-login form,
.modal-login p,
.modal-login label{
	width:inherit;
}
.modal-login label{
	cursor:pointer;
}
.modal-login path{
	opacity:0;
}
/* Login modal end */